<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<h1><%= t('main_index') %></h1>
<br />

<% @taxons.each do |taxon| %>
  <%= link_to taxon.name, admin_product_sort_url(taxon.id) %> (<%= taxon.taxonomy.store.name %>)<br />
<% end %>
